@model IEnumerable<FootballMatchHub.Models.Match>
@{
    ViewBag.Title = "Home Page";
}

<ul>
    @foreach (var match in Model)
    {
        <li>@match.Datetime - @match.Player.UserName</li>
    }
</ul>

